footer {
  background: rgb(52, 58, 64);
  color: rgb(189, 189, 189);

  & a {
    color: rgb(116, 118, 120);
  }

  & h4 {
    margin-bottom: 1rem;
    font-weight: 700;
  }

  & li {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  & .justify-none i {
    margin-right: 0.5rem;
  }

  & .footer-message {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    line-height: 2;

    & small {
      color: rgb(116, 118, 120);
    }

    & span {
      color: rgb(216, 216, 216);
    }
  }
}


@media screen and (max-width: 786px) {
  footer{
    & .col-28,.col-15{
      margin: 2rem 0;
    }
  }
}