html {
  font-size: 20px;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.justify-none {
  justify-content: flex-start;
}

.justify-even{
    justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}

.pages-drop,
.blog-drop {
  display: none;
}

.button {
  color: rgb(220, 68, 69);
  padding: 0.5rem 0.8rem;
  border: 1px solid rgb(220, 68, 69);
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.active-button {
  // Extending button class properties
  @extend .button;
  color: white;
  background: rgb(220, 68, 69);
}

// General Page heading
.heading {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(27, 30, 36);
}

.heading-three {
  @extend .heading;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}

.para {
  color: rgb(129, 136, 143);
}

.padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.col-28 {
  flex: 0 1 28%;
}

.col-45 {
  flex: 0 1 45%;
}

.col-15{
    flex: 0 1 15%;
}