.hero-section{
    background: url(../assets/media/banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-text{
    padding: 5rem 0;
}

.hero-heading{
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-para{
    padding: 1.2rem 0;
}