html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 20px;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-none {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.pages-drop,
.blog-drop {
  display: none;
}

.button, .active-button {
  color: #dc4445;
  padding: 0.5rem 0.8rem;
  border: 1px solid #dc4445;
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.active-button {
  color: white;
  background: #dc4445;
}

.heading, .heading-three {
  font-size: 2rem;
  font-weight: 700;
  color: #1b1e24;
}

.heading-three {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}

.para {
  color: #81888f;
}

.padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.col-28 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.col-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.col-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.upper-header {
  background: #dc4445;
  padding: 1rem 0;
  color: white;
}

.upper-header a {
  color: white;
}

.upper-header i {
  margin-right: 0.5rem;
}

.contact-header div {
  margin: 0 0.5rem;
}

.lower-header {
  background: #f2f2f2;
  padding: 1rem 0;
}

.lower-header span {
  font-size: 1.6rem;
  font-weight: 700;
}

.lower-header span:first-child {
  color: #dc4445;
}

.lower-header span:last-child {
  color: #222222;
}

.lower-header a {
  color: #424242;
  margin: 0 0.5rem;
  font-weight: 500;
}

.lower-header a:hover {
  color: white;
  background: #eb5f61;
  padding: 1.25rem 1rem;
}

.hero-section {
  background: url(../assets/media/banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-text {
  padding: 5rem 0;
}

.hero-heading {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero-para {
  padding: 1.2rem 0;
}

.services-para {
  margin: 2rem 0;
}

.services-type {
  margin-top: 5rem;
}

.service-col {
  border: 2px solid #dfdfdf;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.service-col p {
  line-height: 2;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.service-col i {
  color: #dc4445;
}

.solution {
  background: #f8f9fa;
}

.solution p {
  margin: 2rem 0;
  line-height: 1.5;
  padding: 0 10rem;
}

.consulting h2 {
  margin: 2rem 0;
}

.consulting p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.consulting i {
  color: #dc4445;
}

.consulting img {
  width: 100%;
}

.request {
  background: #dc4445;
  color: white;
}

.request a {
  border-color: white;
}

.request h3 {
  font-weight: 700;
}

.request p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.industry img {
  width: 100%;
}

.industry h2 {
  margin-bottom: 1rem;
}

.industry p {
  line-height: 1.5;
}

.client {
  background: #f8f9fa;
}

.client .client-img {
  margin-top: 1.5rem;
}

.client img {
  width: 100%;
}

footer {
  background: #343a40;
  color: #bdbdbd;
}

footer a {
  color: #747678;
}

footer h4 {
  margin-bottom: 1rem;
  font-weight: 700;
}

footer li {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

footer .justify-none i {
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */